@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@400;500&display=swap');

/* font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif; 

#9e9e9e, #fff, #000, #333, #666*/

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
header {
    margin-top: 12px;
}
h4 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;    font-size: 1em;
    font-weight: 500;
    text-align: center;
}
main section article {
    margin-top: 2em;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 3em 0;
}
h2 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}
h3 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 3.6em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding: 0.5em 0;
    color: white;
}
span h3 {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 4.2em;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    padding: 0.5em 0;
    color: white;
}
p {
    margin: 0;
    font-family: 'Work Sans', sans-serif;    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

section:nth-of-type(2) {
    margin: 0;
    padding: 0;
    background: url(../img/portfolio2.jpg) center/cover no-repeat;
    background-color: #666;
    background-blend-mode: multiply;
    height: 100vh;
    padding: 2em 4em 0;
}
section article:nth-child(1) p {
    margin: 0;
    color: white;
}
section article nav {
    margin-top: 4em;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    width: 70px;
    padding: 12px 20px;
}
section article div {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    text-align: right;
    padding-top: 42vh;
}
a {
    text-decoration: none;
    color: white;
}
nav:hover{
    background: #fff;
  }
nav:hover+div{
    color: rgba(255, 255, 255, 0.5)
  }

section:nth-of-type(3) {
    margin: 0;
    padding: 0;
    background: url(../img/portfolio3.png) center/cover no-repeat;
    height: 100vh;
    padding: 2em 4em 0;
}
section:nth-of-type(3) article h3 {
    color: black;
}
section:nth-of-type(3) article p {
    color: black;
}
section:nth-of-type(3) article nav {
    color: black;
    border: 1px solid black;
}
section:nth-of-type(3) article div {
    color: #717171;
}
section:nth-of-type(4) {
    margin: 0;
    padding: 0;
    background: url(../img/portfolio4.jpg) center/cover no-repeat;
    background-color: #666;
    background-blend-mode: multiply;
    height: 100vh;
    padding: 2em 4em 0;
}
section:nth-of-type(5) {
    margin: 0;
    padding: 0;
    background: url(../img/portfolio5.png) center/cover no-repeat;
    height: 100vh;
    padding: 2em 4em 0;
}
section:nth-of-type(6) {
    margin: 0;
    padding: 0;
    background-color: black;
    background-blend-mode: multiply;
    height: 100vh;
    padding: 2em 4em 0;
}
section:nth-of-type(5) article h3 {
    color: black;
}
section:nth-of-type(5) article p {
    color: black;
}
section:nth-of-type(5) article nav {
    color: black;
    border: 1px solid black;
}
section:nth-of-type(5) article div {
    color: #717171;
}